.headerClass{
   background-color: orange;
  color:red;
}
.topbar{
   background-color: blue;
   overflow: hidden;
}
.topbar a{
   float: left;
   text-align: center;
   text-decoration: none;
   font-size: 22px;
   padding: 16px 19px;
} 
.topbar a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: black;
  color: white;
}
.activa{
   background-color: black;
   color: white;
}   
.actival{
   background-color: black;
   color: white;
}
.login{
   background-color: black;
   color: white;
}
.signup{
   background-color: black;
   color: white;
}   
.projects {
width: 440px;
float: left;
height: 296px;
backround-color: #333;
background-position: bottom;
}
.projectlink{
width: 100%; 
height: 100%;
}

figure {
display: block;
width: 220px;
height: 250px;
background-color: #333;
text-align: left;
    }
    figure img {
width: 220px; 
height: 200px;
border: 1px solid #333;}
figcaption {
    padding-left: 10px;}    
    body {
      background-color: black;
      color: white;
    }  
    a {
      color: white;
    }
    img {
    border: 5px  
    solid #333;  
    }
    .gfg { 
    background-color: green; 
    border: 3px solid #333; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    display: inline-block; 
    font-size: 20px; 
    margin: 10px 30px; 
    cursor: pointer; 
    } 


